<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nickname.name %></title>
</head>
<body>
    <h1><%= nickname.name %></h1>
    <ul>
        <% for(i = 0; i < nickname.nicknames.length; i++) { %>
            <li><%= nickname.nicknames[i] %></li>
        <% }%>
    </ul>

    <a href="/nicknames/<%= nickname._id %>/addNickname">Add Nickname</a>
    <a href="/nicknames" style="display: block;">Back</a>
    <form action="/nicknames/<%= nickname._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>