<% layout('/layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">Gameweek Fixture Summary</h1>
    <h2 class="text-center"><%= gameweekObject.eventName %></h2>

    <% for (let fixture of gameweekObject.fixtures) {%>
        <section class="container mb-4">
            <div class="card bg-dark text-white">
                <div class ="card-header">
                    <section class="container">
                        <div class="row">
                            <div class="col-5">
                                <div class="text-center">
                                    <h2><%= fixture.homeTeam %></h2>
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="align-bottom">
                                    <h2>vs.</h2>
                                </span>
                            </div>
                            <div class="col-5">
                                <div class="text-center">
                                    <h2><%= fixture.awayTeam %></h2>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="card-body">
                    <section class="container">
                        <div class="row">
                            <div class="col-5">
                                <section class="container">
                                    <ul>
                                        <% for (const manager of fixture.managers) {%>                                        
                                            <div class="row">
                                                <div class="col-4 text-center d-inline-block align-bottom">
                                                    <h5><%= manager.name %></h5>
                                                </div>

                                                <div class="col-8">
                                                    <div class="row">
                                                        <% for (const pick of manager.homePicks) {%>
                                                            <p class="text-center"><%= pick.playerName %></p>
                                                        <% }%>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }%>
                                    </ul>
                                </section>
                            </div>

                            <div class="col-2">

                            </div>

                            <div class="col-5">
                                <section class="container">
                                    <ul>
                                        <% for (let manager of fixture.managers) {%>                                        
                                            <div class="row">
                                                <div class="col-4 text-center d-inline-block align-bottom">
                                                    <h5><%= manager.name %></h5>
                                                </div>

                                                <div class="col-8">
                                                    <div class="row">
                                                        <% for (const pick of manager.awayPicks) {%>
                                                            <p class="text-center"><%= pick.playerName %></p>
                                                        <% }%>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }%>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    <% }%>
</div>