<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./home.css">
    <title>Robot Legs FPL Bot</title>
</head>
<body>
    <nav id="mainNavbar" class="navbar navbar-dark bg-dark navbar-expand-md py-0 fixed-top">
        <a href="#" class="navbar-brand">FPLBot</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/nicknames" class="nav-link">Nicknames</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 style="margin-top: 45px;">Gameweek Fixture Summary</h1>
    <h2><%= mainGameInfo.events[0].name %></h2>

    <% for (let fixture of gameweekFixtures) {%>
        <section class="container mb-4">
            <div class="card bg-dark text-white">
                <div class ="card-header">
                    <section class="container">
                        <div class="row">
                            <div class="col-5">
                                <div class="text-center">
                                    <h2><%= fixture.team_h %></h2>
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="align-bottom">
                                    <h2>vs.</h2>
                                </span>
                            </div>
                            <div class="col-5">
                                <div class="text-center">
                                    <h2><%= fixture.team_a %></h2>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="card-body">
                    <section class="container">
                        <div class="row">
                            <div class="col-5">
                                <section class="container">
                                    <ul>
                                        <% for (let manager of leagueInfo.standings.results) {%>                                        
                                            <div class="row">
                                                <div class="col-4 text-center d-inline-block align-bottom">
                                                    <h5><%= manager.player_name %></h5>
                                                </div>

                                                <div class="col-8">
                                                    <!-- Loop through home team picks for manager -->
                                                    <div class="row">

                                                    </div>
                                                </div>
                                            </div>
                                        <% }%>
                                    </ul>
                                </section>
                            </div>

                            <div class="col-2">

                            </div>

                            <div class="col-5">
                                <section class="container">
                                    <ul>
                                        <% for (let manager of leagueInfo.standings.results) {%>                                        
                                            <div class="row">
                                                <div class="col-4 text-center d-inline-block align-bottom">
                                                    <h5><%= manager.player_name %></h5>
                                                </div>

                                                <div class="col-8">
                                                    <!-- Loop through away team picks for manager -->
                                                    <div class="row">

                                                    </div>
                                                </div>
                                            </div>
                                        <% }%>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    <% }%>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>